*{
    margin :0%;
    padding:0% ;
    font-family:'Acme' ,sans-serif;
}
body{
   
    background-color:#0a3d62;
}
.container
{
    width: 70%;
    margin :auto;
    text-align: center;
}
.dice{
    text-align:center;
    display: inline-block;
}
h1{
    margin:30px;
    text-shadow:5px 5px white;
    font-size: 6rem;
    color:#f6b93b;

}
p{
    font-size:2rem;
    color:#00b894;
    text-shadow:1px 1px white ;
}
button{
    padding:10px;
   background-color: #00b894;
   color:white;
   border:none;

}
img{
    width:85%;

}
@viewport
{
    zoom:1.0;
    width:extend-to-zoom;
}
@-ms-viewport
{
    zoom:1.0;
    width:extend-to-zoom;
}
@media (max-width: 768px) {
    
    .carousel-caption{
        
        top:45%;
        
    }
    .carousel-caption h1{
        font-size:350%;
       
    }
    .carousel-caption.btn{
        font-size:95%;
        padding:8px,14px;
    }
    .display-4{
        font-size: 200%;
    }
    .social a{
        font-size:2.5em;
        padding :1.2rem;
    
    }
}
@media (max-width: 576px) {
    .carousel-caption{
        
        top:40%;
        
    }
    .carousel-caption h1{
        font-size:250%;
       
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding:4px 8px;

    }
    .carousel-indicators{
        display: none;
    }
    .display-4{
        font-size: 160%;
    }
    .social a{
        font-size:2em;
        padding :.7rem;
    
    }
} 
@media only screen and (max-width: 600px) {
    body {
      background-color: yellow;
      
     
    }
    h1{
        margin:30px;
        text-shadow:5px 5px white;
        font-size: 5rem;
        color:#f6b93b;
    
    }
  }
  @media only screen and (min-width: 600px) {
    body {
      background-color: orangered;
    }
  }
  @media only screen and (min-width: 768px) {
    body {
      background-color: orange;
    }
  }
  @media only screen and (min-width: 992px) {
    body {
      background-color: blue;
    }
  }
  @media only screen and (min-width: 1200px) {
    body {
      background-color: black;
    }
  }
  
 

